html,body{
    margin: 0;
    padding: 0;
    height: 100%;
}

button{
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #008CBA;
    font-weight: bold;
}

.splash-screen{
    background: linear-gradient(30deg, #3399CC	, transparent);
}

.events-page{
    background-color: whitesmoke;
}

.welcome-box{
    height: 250px;
    width: 350px;
    margin: auto;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:whitesmoke;
    border: 1px solid black;
    box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.5);
}

.welcome-box-contents{
    text-align: center;
}

h1{
    color: #37b2d2;
}

.welcome-box-contents button.premium-user{
    background-color: #154742;
}

header{
    background-color: white;
    font-size: 1.5em;
    padding: 15px;
}

header .brand-name{
    color: #37b2d2;
}

header .user-type{
    text-transform: capitalize;
    color: #37b2d2;
}

header #switch-user{
    height: 30px;
    background-color: #87c2ff;
    border: none;
}

.cards-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 15px;
    max-width: 1200px;
    margin: 0 auto;
}

.cards-container .card{
    background-color: white;
    height: 270px;
    width: 250px;
    margin: 15px 30px 20px;
    box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.5);
    transition: transform 0.3s;
}

.cards-container .card:hover{
    transform: scale(1.1);
}

.cards-container .card-header{
    height: 60px;
    border-bottom: 1px solid grey;
    background-color: #7dd0bd42;
    text-align: center;
    color: black;
    font-size: 1.2em;
    padding: 10px;
}

.cards-container .card-header.leap{
    background: linear-gradient(45deg, rgba(32, 131, 245, 0.815), transparent);
}


.cards-container .card-header.rec-mis{
    background: radial-gradient(rgba(12, 74, 213, 0.89), transparent);
}

.cards-container .card-header.vanh{
    background: linear-gradient(180deg, transparent, rgba(32, 131, 245, 0.815));
}

.cards-container .card-badge{
    background-color: rgb(139, 200, 228);
    color: black;
    padding: 5px;
    margin: 2px;
}

.cards-container .card-badge.pow{
    background-color: rgba(7, 117, 207, 0.849);
    color: white;
}


.cards-container .card-body{
    padding: 10px;
}

.cards-container .card-footer{
    position: relative;
    top: 16px;
    text-align: center;
}

.modal{
    min-height: 90vh;
    overflow-y: auto;
    width: 90vw;
    background-color: white;
    z-index: 2;
    position: fixed;
    top: 5%;
    bottom: 5%;
    right: 5%;
    left: 5%;
    border: 1px solid black;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5), -5px -5px 10px rgba(0,0,0,0.5);
}

.modal-body{
    padding: 30px;
    font-size: 1.2em;
}

.close{
    position: absolute;
    right: 10px;
    top: 10px;
}

:disabled{
    background-color: grey;
    cursor: not-allowed;
}

.status-badge{
    background-color: #596ae5;
    color: white;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.cards-content-wrapper{
    margin: 0 auto;
}